node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

firebase-service-account.json

backend/node_modules/
backend/.env
backend/*.json
!android/app/google-services.json

backend/node_modules/
backend/.env
backend/firebase-service-account.json
backend/*firebase-adminsdk*.json

# Firebase credentials
firebase-service-account.json
plugbox-baded-firebase-adminsdk-fbsvc-176078696c.json

# env files
.env

node_modules/
node_modules/
.env
plugbox-baded-firebase-adminsdk-fbsvc-176078696c.json

